.header {
  display: flex;
  max-height: 70px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.29);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}
.header__burguer__menu #header__burguer__menu__icon {
  margin-top: 24px;
  margin-left: 19px;
}
.header__burguer__menu #header__burguer__menu__close__icon {
  margin-top: 24px;
  margin-left: 19px;
  display: none;
}
.header__icons__logo {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 10vw;
  grid-row-gap: 0px;
  align-items: center;
  margin-left: 60px;
  margin-right: 26px;
}

.pop__up__menu {
  display: none;
  position: absolute;
  font-family: "Archivo";
  font-weight: 600;
  background-color: white;
  min-width: 100%;
  position: 10vh;
}
.pop__up__menu ul {
  margin-top: 8px;
  margin-left: 21px;
  list-style-type: none;
  margin-bottom: 35px;
}
.pop__up__menu ul li {
  margin-top: 24px;
}

.base__for__you {
  background-color: rgb(51, 51, 51);
}
.base__for__you__first__text {
  padding-top: 75px;
  padding-left: 20px;
  font-family: "Archivo";
  max-width: 55%;
}
.base__for__you__first__text h4 {
  font-size: 13px;
  color: rgb(255, 255, 255);
}
.base__for__you__second__text {
  margin-top: 40px;
  padding-left: 20px;
  color: rgb(255, 255, 255);
}
.base__for__you__second__text h2 {
  font-family: " Old Standard TT";
  font-weight: 400;
  font-size: 50px;
}
.base__for__you__buttons {
  display: flex;
  flex-direction: column;
}
.base__for__you__take__a__tour {
  background-color: rgb(190, 173, 142);
  max-width: 41%;
  margin-left: 20px;
  margin-top: 40px;
}
.base__for__you__take__a__tour p {
  color: rgb(255, 255, 255);
  font-family: "Archivo";
  font-weight: 700;
  margin: 24px 12px;
}
.base__for__you__learn__more {
  max-width: 42%;
  margin-left: 20px;
  margin-top: 24px;
  margin-bottom: 76px;
  border: 2px solid rgba(255, 255, 255, 0.33);
}
.base__for__you__learn__more p {
  color: rgb(255, 255, 255);
  font-family: "Archivo";
  font-weight: 700;
  margin: 24px 12px;
}

.dates {
  background-color: rgb(34, 34, 34);
  padding-bottom: 36px;
}
.dates__arrival {
  margin: 0 auto;
  border-bottom: 1px solid rgb(190, 173, 142);
  max-width: 80%;
  padding-top: 36px;
  margin-left: 20px;
}
.dates__arrival form {
  min-width: 80%;
}
.dates__arrival form label {
  color: rgb(255, 255, 255);
  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
}
.dates__arrival form input {
  background-color: rgb(34, 34, 34);
  display: flex;
  flex-direction: row-reverse;
  margin-top: 24px;
  color: rgb(190, 173, 142);
  border: none;
  color-scheme: rgb(190, 173, 142);
  font-family: "Roboto";
  font-size: 14px;
  margin-bottom: 14px;
}
.dates__departure {
  margin: 0 auto;
  border-bottom: 1px solid rgb(190, 173, 142);
  max-width: 80%;
  padding-top: 36px;
  margin-left: 20px;
}
.dates__departure form {
  min-width: 80%;
}
.dates__departure form label {
  color: rgb(255, 255, 255);
  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
}
.dates__departure form input {
  background-color: rgb(34, 34, 34);
  display: flex;
  flex-direction: row-reverse;
  margin-top: 24px;
  color: rgb(190, 173, 142);
  border: none;
  color-scheme: rgb(190, 173, 142);
  font-family: "Roboto";
  font-size: 14px;
  margin-bottom: 14px;
}
.dates__button {
  margin-top: 42px;
  margin-left: 20px;
  background-color: rgb(190, 173, 142);
  max-width: 59%;
  padding: 14px 12px;
  margin-bottom: 36px;
}
.dates__button p {
  color: rgb(255, 255, 255);
  font-family: "Archivo";
  font-weight: 700;
  font-size: 14px;
}

.about__us {
  margin-top: 60px;
  background-color: rgb(249, 249, 249);
  padding-bottom: 60px;
}
.about__us__h5 {
  margin-left: 20px;
  padding-top: 25px;
}
.about__us__h5 h5 {
  font-family: "Archivo";
  font-size: 13px;
  font-weight: 700;
  color: rgb(119, 119, 119);
}
.about__us__discover {
  max-width: 85%;
  margin-left: 20px;
}
.about__us__discover h3 {
  font-size: 50px;
  font-family: " Old Standard TT";
  font-weight: 400;
}
.about__us__discover p {
  font-family: "Archivo";
  margin-top: 16px;
  text-align: justify;
  font-weight: 400;
  color: rgb(119, 119, 119);
}
.about__us__button {
  margin-top: 24px;
  background-color: rgb(189, 172, 141);
  max-width: 40%;
  padding: 15px 6px;
  margin-left: 20px;
  margin-bottom: 60px;
}
.about__us__button p {
  color: rgb(255, 255, 255);
  text-align: center;
}
.about__us__first__img {
  width: 80%;
  height: 300px;
  background-color: rgb(228, 228, 228);
  margin: 0 auto;
}
.about__us__people__img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 56px;
}
.about__us__front__image {
  z-index: 2;
}
.about__us__back__image {
  position: relative;
  z-index: 1;
}
.about__us__back__image img {
  opacity: 0.1;
  scale: 180%;
  translate: 77% -69%;
}
.about__us__strong__team__text {
  background-color: white;
  max-width: 66%;
  margin: -30px auto;
}
.about__us__strong__team__text h4 {
  text-align: center;
  font-family: " Old Standard TT";
  font-weight: 400;
  font-size: 30px;
}
.about__us__strong__team__text p {
  text-align: center;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 14px;
}
.about__us__rooms {
  display: flex;
  flex-direction: column;
  margin-top: 83px;
}
.about__us__rooms__photo {
  width: 80%;
  height: 300px;
  margin: 0 auto;
  background-color: rgb(228, 228, 228);
}
.about__us__rooms__text {
  max-width: 80%;
  background-color: rgb(34, 34, 34);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.about__us__rooms__calendar {
  margin-top: 54px;
  margin-left: 98px;
  margin-right: 106px;
}
.about__us__rooms__info {
  max-width: 80%;
  margin: 0 auto;
}
.about__us__rooms__info h4 {
  text-align: center;
  color: rgb(255, 255, 255);
  font-family: " Old Standard TT";
  font-weight: 400;
  font-size: 30px;
  margin-top: 30px;
}
.about__us__rooms__info p {
  margin-top: 21px;
  color: rgb(255, 255, 255);
  text-align: center;
  margin-bottom: 38px;
}

.rooms__first__block {
  margin-top: 60px;
}
.rooms__first__block__text h5 {
  text-align: center;
  font-family: "Archivo";
  font-size: 14px;
  font-weight: 700;
  color: rgb(119, 119, 119);
}
.rooms__first__block__text h3 {
  margin-top: 24px;
  text-align: center;
  font-family: " Old Standard TT";
  font-weight: 400;
  font-size: 56px;
}
.rooms__first__block__text #multibar {
  z-index: 2;
  translate: 0 60%;
  position: relative;
}
.rooms__first__block__text #multibar img {
  margin: 0 7%;
}
.rooms__first__block__text .swiper {
  width: 100%;
  height: 100%;
}
.rooms__first__block__text .swiper .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.rooms__first__block__text .swiper .swiper-slide img {
  display: block;
  max-width: 100%;
  max-height: 30%;
  object-fit: cover;
}
.rooms__second__block__text {
  max-width: 90%;
  margin: 0 auto;
  position: relative;
  padding-top: 20px;
  translate: 0 -20%;
  z-index: 2;
  background-color: white;
  margin-bottom: 54px;
}
.rooms__second__block__text h3 {
  text-align: center;
  font-family: " Old Standard TT";
  font-weight: 400;
  font-size: 28px;
}
.rooms__second__block__text p {
  margin-top: 12px;
  text-align: center;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 14px;
  color: rgb(119, 119, 119);
}
.rooms__second__block__text h4 {
  margin-top: 14px;
  text-align: center;
  font-family: "Archivo";
  font-weight: 700;
  font-size: 32px;
  color: rgb(190, 173, 142);
}
.rooms__second__block__text h4 span {
  text-align: center;
  font-family: "Archivo";
  font-weight: 700;
  font-size: 14px;
  color: rgb(190, 173, 142);
}
.rooms__video__block {
  background-color: rgb(34, 34, 34);
  padding-bottom: 48px;
}
.rooms__video__block__text {
  padding-top: 60px;
  margin-bottom: 32px;
}
.rooms__video__block__text h5 {
  margin-left: 24px;
  font-family: "Archivo";
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 2.8px;
  color: rgb(189, 172, 141);
}
.rooms__video__block__text h3 {
  margin-top: 32px;
  margin-left: 20px;
  font-family: " Old Standard TT";
  font-size: 56px;
  font-weight: 400;
  letter-spacing: -1.2px;
  color: rgb(255, 255, 255);
}
.rooms__video__block__text p {
  margin-top: 16px;
  margin-left: 20px;
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 400;
  color: rgb(194, 194, 194);
  text-align: left;
}
.rooms__video__block__video {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 32px;
}
.rooms__video__block__button {
  background-color: rgb(189, 172, 141);
  max-width: 52%;
  margin-top: 36px;
  margin-left: 20px;
  padding: 11px 30px;
}
.rooms__video__block__button h3 {
  color: rgb(255, 255, 255);
  text-align: center;
  font-family: "Archivo";
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1.4px;
}

.facilities__first__block {
  background-color: #e5e5e5;
  padding-top: 60px;
  padding-bottom: 32px;
}
.facilities__first__block h5 {
  font-family: "Archivo";
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 2.8px;
  color: rgb(119, 119, 119);
  text-align: center;
}
.facilities__first__block h3 {
  margin-top: 25px;
  font-family: " Old Standard TT";
  font-size: 56px;
  font-weight: 400;
  letter-spacing: -1.6px;
  color: rgb(34, 34, 34);
  text-align: center;
}
.facilities__images {
  display: flex;
}
.facilities__images #finger-stars {
  margin-top: 113px;
  margin-left: 38px;
  margin-right: 45px;
}
.facilities__images #numer-one {
  margin-top: 32px;
  object-fit: contain;
}
.facilities__second__bock {
  margin-left: 38px;
}
.facilities__second__bock h4 {
  margin-top: 38px;
  font-family: " Old Standard TT";
  font-size: 30px;
  font-weight: 400;
  letter-spacing: -0.9px;
  color: rgb(34, 34, 34);
}
.facilities__second__bock p {
  margin-top: 28px;
  font-family: "Roboto";
  font-size: 13px;
  font-weight: 400;
  color: rgb(119, 119, 119);
}
.facilities__third__bock {
  margin-top: 60px;
  display: flex;
  justify-content: flex-end;
}

.menu__first__block {
  margin-left: 20px;
}
.menu__first__block h5 {
  font-family: "Archivo";
  font-size: 14px;
  font-weight: 700;
  color: rgb(119, 119, 119);
  letter-spacing: 2.8px;
}
.menu__first__block h3 {
  font-family: " Old Standard TT";
  font-size: 56px;
  font-weight: 400;
  color: rgb(34, 34, 34);
  letter-spacing: -1.2px;
}
.menu__second__block__wrap {
  display: flex;
  max-width: 90%;
  margin-left: 20px;
  margin-top: 28px;
}
.menu__second__block__img {
  max-width: 40%;
}
.menu__second__block__img img {
  max-width: 100%;
  height: auto;
}
.menu__second__block__text {
  margin-left: 30px;
  max-width: 40%;
}
.menu__second__block__text h4 {
  font-size: 24px;
  font-weight: 400;
  font-family: " Old Standard TT";
  letter-spacing: -0.24px;
}
.menu__second__block__text p {
  text-align: justify;
}
.menu .swiper-wrapper {
  max-width: 90%;
  margin: 0 auto;
}
.menu__third__block {
  margin: 60px auto;
}
.menu__third__block__img img {
  max-width: 100%;
  height: auto;
}
.menu__fourth__block {
  margin-top: 60px;
  background-color: rgb(34, 34, 34);
  padding-bottom: 48px;
}
.menu__fourth__block__stats {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.menu__fourth__block__img {
  margin-top: 48px;
  margin-bottom: 16px;
}
.menu__fourth__block__text {
  max-width: 54%;
  margin-bottom: 12px;
}
.menu__fourth__block__text h4 {
  color: rgb(255, 255, 255);
  font-family: "Roboto";
  font-weight: 700;
  font-size: 60px;
  text-align: center;
  line-height: 0.6;
}
.menu__fourth__block__text h4 span {
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  color: rgb(153, 153, 153);
}

.footer {
  margin-top: 60px;
}
.footer__first__block__text {
  max-width: 90%;
  margin: 0 auto;
}
.footer__first__block__text p {
  font-family: "Archivo";
  font-weight: 400;
  font-size: 16px;
  color: rgb(119, 119, 119);
  text-align: left;
  margin-bottom: 32px;
}
.footer__first__block__logos {
  max-width: 80%;
  margin-left: 20px;
  display: flex;
  justify-content: space-around;
}
.footer__first__block__logos a {
  text-decoration: none;
}
.footer__first__block__logos a .logo-wrap {
  min-width: 40px;
  min-height: 40px;
}
.footer__first__block__logos a .logo-wrap img {
  margin: 8px 8px;
  color: rgb(119, 119, 119);
  width: 40px;
  height: 40px;
}
.footer__second__block {
  margin-left: 20px;
}
.footer__second__block h3 {
  font-family: " Old Standard TT";
  font-weight: 400;
  font-size: 24px;
  color: rgb(34, 34, 34);
  margin-top: 40px;
}
.footer__second__block__wrap {
  margin-top: 24px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  max-width: 90%;
}
.footer__second__block .cell {
  margin-top: 20px;
}
.footer__second__block .cell p {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  color: rgb(119, 119, 119);
}
.footer__third__block {
  display: flex;
  flex-direction: column;
  margin-top: 32px;
  margin-left: 20px;
}
.footer__third__block h3 {
  font-family: " Old Standard TT";
  font-weight: 400;
  font-size: 24px;
  color: rgb(34, 34, 34);
  margin-top: 40px;
  margin-bottom: 34px;
}
.footer__third__block__row {
  display: flex;
  max-width: 60%;
  margin: 0 auto;
  align-items: center;
  margin-bottom: 60px;
}
.footer__third__block__img {
  margin-right: 24px;
}
.footer__third__block__text h5 {
  font-family: " Old Standard TT";
  font-weight: 400;
  font-size: 20px;
  color: rgb(34, 34, 34);
}
.footer__fourth__block {
  background-color: rgb(248, 248, 248);
  padding-top: 16px;
  margin-left: 20px;
}
.footer__fourth__block #cp {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  letter-spacing: -0.48 px;
}
.footer__fourth__block #tos {
  margin-top: 24px;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  letter-spacing: -0.48 px;
  color: rgb(34, 34, 34);
  margin-bottom: 16px;
  text-decoration: none;
}
.footer__fourth__block #tos a {
  text-decoration: none;
}

.about__us__page__first__block {
  background-color: rgb(51, 51, 51);
  padding-top: 75px;
  padding-left: 20px;
}
.about__us__page__first__block h4 {
  font-family: "Archivo";
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 2.8px;
  color: rgb(255, 255, 255);
}
.about__us__page__first__block h2 {
  margin-top: 16px;
  font-family: " Old Standard TT";
  font-size: 56px;
  font-weight: 400;
  letter-spacing: -1.2px;
  color: rgb(255, 255, 255);
}
.about__us__page__first__block__breadcrums {
  margin-top: 63px;
  max-width: 45%;
  background-color: rgb(255, 255, 255);
  padding: 16px 24px;
  margin-left: 50%;
}
.about__us__page__first__block__breadcrums h5 {
  text-align: center;
  font-family: "Archivo";
  font-size: 16px;
  letter-spacing: -0.48px;
}
.about__us__page__first__block__breadcrums h5 span {
  color: rgb(190, 173, 142);
}
.about__us__page__second__block__video {
  padding-top: 60px;
  display: flex;
  justify-content: center;
  padding-bottom: 36px;
}
.about__us__page__second__block__text {
  margin-bottom: 51px;
}
.about__us__page__second__block__text h4 {
  font-family: " Old Standard TT";
  font-size: 32px;
  font-weight: 400;
  letter-spacing: -1.16px;
  color: rgb(34, 34, 34);
  text-align: center;
}
.about__us__page__second__block__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 20px;
}
.about__us__page__second__block__grid #plane {
  background-color: #bead8e;
  color: white;
}
.about__us__page__second__block__grid .grid-item {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.about__us__page__second__block__grid .grid-item img {
  max-width: 60%;
  margin: 0 auto;
}
.about__us__page__second__block__grid .grid-item h5 {
  margin-top: 12px;
  text-align: center;
  font-family: "Archivo";
  font-size: 12px;
  letter-spacing: 2.4px;
}
.about__us__page__third__block {
  margin-top: 71px;
}
.about__us__page__third__block__img {
  background-color: #e5e5e5;
  width: 295px;
  height: 232px;
  margin: 20px auto;
}
.about__us__page__third__block__text {
  margin-top: 32px;
  margin-left: 40px;
}
.about__us__page__third__block__text h5 {
  font-family: "Archivo";
  font-weight: 700;
  font-size: 14;
  letter-spacing: 2.8px;
  color: #777777;
}
.about__us__page__third__block__text h3 {
  font-family: " Old Standard TT";
  font-weight: 400;
  font-size: 40px;
  letter-spacing: -1.6px;
  margin-top: 26px;
}
.about__us__page__third__block__text p {
  font-family: "Archivo";
  font-weight: 400;
  font-size: 14px;
  margin-top: 26px;
  color: #777777;
  line-height: 24px;
}
.about__us__page__third__block__button {
  margin-top: 16px;
  max-width: 59%;
  background-color: #bead8e;
  margin-left: 40px;
}
.about__us__page__third__block__button h5 {
  padding: 28px 48px;
  color: #ffffff;
  font-family: "Archivo";
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 2.8px;
}
.about__us__page__fourth__block {
  background-color: #222222;
  color: #ffffff;
  margin-top: 60px;
}
.about__us__page__fourth__block #about__us__page__facilites__first__block {
  background-color: #222222;
  color: #ffffff !important;
}
.about__us__page__fourth__block #about__us__page__facilites__first__block h5 {
  color: #ffffff;
}
.about__us__page__fourth__block #about__us__page__facilites__first__block h3 {
  color: #ffffff;
}

html,
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border-color: 3px solid greenyellow;
}

body {
  min-width: 320px;
}

/*# sourceMappingURL=style.css.map */
